<div class="navbar-fixed">  
    <nav>
    <div class="container-fluid">
      <div class="nav-wrapper">
          <div class="row">
              <div class="col m3">
                <img src="assets/image/Converted-PNG.png" alt="nav-logo" class="logo">
              </div>
              <div class="col m3" style="display: flex;">
                <h3 id="project_title" style="text-align: right">{{dataservice.project_name}}</h3>
             </div>              
             <div class="col m6">
                <ul class="right hide-on-med-and-down"> 
                    <li id="username"> {{dataservice.username}} - {{dataservice.role}} </li>
                    <li><a (click)="home()" id="logout">Home</a></li>
                    <li><a (click)="logout()" id="logout">LOGOUT</a></li>
                </ul>
            </div>
          </div>
      </div>
    </div>
    </nav>   
</div>
<h3 style="text-align: center;">{{dataservice.message}}</h3>
<div class="container-fluid">
	<div>
	<p style="font-size: 1.4rem; text-align: left; padding-left: 30px; color: rgba(0, 0, 0, 0.74); font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Invite User<a mz-button (click)="getClicked($event); basicModal.openModal()" class="btn-floating add-icon"><i class="material-icons" id="add">add</i></a></p>
    <br>
                <h5 style="font-size: 1.4rem; text-align: left; padding-left: 100px; padding-top: 10px color: rgba(0, 0, 0, 0.74); font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Users</h5>
                <div class="col s2" style="height: calc(100vh - 65px); overflow: auto">
            <div class="">
                <ul *ngFor="let user of dataservice.users">
                    <li>
                        <table style="border-collapse: separate;" [attr.id]="'m' + user.id" (mouseover)="setSelectedUser(user.id)" (mouseleave)="setSelectedUser(-1)">
                            <tr id="author">
                                <th style="width: 1%"><a [routerLink] fragment='{{user.id}}' (click)="scrollIntoView('u' + user.id)"><i class="material-icons" id="account_circle">account_circle</i></a></th>
                                <a [routerLink] fragment='{{user.id}}' (click)="scrollIntoView('u' + user.id)"  style="margin-right: 0;font-size: 1.2rem">{{user.user.nickname}}</a>
                                    <div style="display:flex;">
                                        <a mz-button (click)="dataservice.role.toLowerCase() == 'owner' ? manageUser($event) : doNothing()" class="btn-floating change-role"><i class="material-icons" id="settings">settings</i></a>
                                    </div>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>

	</div>
	<mz-modal #basicModal>
        <mz-modal-header>
            <h4>Invite a Member</h4>
        </mz-modal-header>
        <mz-modal-content>
            <h6>Click outside this dialog to cancel.</h6>
            <form (ngSubmit)="sendEmail();" id="signUp">
                <div class="form-group">
                    <input required="required" class="form-control" type="text" id="email" [(ngModel)]="dataservice.inviteuser_email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input required="required" class="form-control" type="text" id="messagebody" [(ngModel)]="dataservice.message_body" name="messagebody" placeholder="project name" required>
                </div>
                <input class="modal-close btn btn-default" type="submit" value="Send Invite" id="create_user">
            </form>
        </mz-modal-content>
    </mz-modal>
</div>
